@using OrderApp.Models.Properties
@using OrderApp.Calculations
@model IEnumerable<OrderApp.Models.Properties.OderDetailViewModel>

@{
	ViewData["Title"] = "Order details";
}
<h1>@ViewData["Title"]</h1>

@if (Model.Any())
{
	<hr />
	<h4 class="my-0 fw-normal"> @($"Customer: {Model.FirstOrDefault()?.ThisOrder.UserID}")</h4>
	<h5 class="my-0 fw-normal">@($"Order ID: {Model.FirstOrDefault()?.ThisOrder.OrderID}")</h5>
	<h5 class="my-0 fw-normal">@($"Cost (excluding VAT): R{Model.FirstOrDefault()?.ThisOrder.SalesValueExcludingVAT:0.00}")</h5>
	<h5 class="my-0 fw-normal">@($"Cost (including VAT): R{Model.FirstOrDefault()?.ThisOrder.SalesValueIncludingVAT:0.00}")</h5>
	<h5 class="my-0 fw-normal">@($"Discount: {Model.FirstOrDefault()?.ThisOrder.Discount}")</h5>
	<h5 class="my-0 fw-normal">@($"Total Cost: R{Model.First().ThisOrder.SalesValueIncludingVAT - Model.FirstOrDefault()?.ThisOrder.Discount:0.00}")</h5>
	<hr/>

}

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
	@foreach (var detailProperty in Model)
	{
		<div class="col-md-3">
			<div class="card mb-4 rounded-3 shadow-sm border-primary">
				<div class="card-header py-3 border-primary">
					<h4 class="my-0 fw-normal">Product Details</h4>
				</div>
				<div class="card-body">
					<ul class="list-unstyled mt-3 mb-4">
						<li>@($"Product: {detailProperty.OrderedProduct?.ProductName}")</li>
						<li>@($"Price: R{detailProperty.OrderedProduct?.UnitPrice:0.00}")</li>
						<li>@($"Quantity: {detailProperty.OrderDetail.Quantity}")</li>
						<li>@($"Total: R{detailProperty.OrderedProduct?.UnitPrice * detailProperty.OrderDetail.Quantity:0.00}")</li>
					</ul>
				</div>
			</div>
		</div>
	}
</div>